body {
    margin: 0;
    text-align: center;
}

#header {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

#header-img {
    height: 200px;
    width: 500px;
    margin-bottom: 15px;
}

#button-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

#home-btn {
    background-color: red;
}

#home-btn:hover {
    background-color: rgb(151, 0, 0);
}

#contact-btn {
    background-color: white;
}

#contact-btn:hover {
    background-color: rgb(216, 216, 216)
}

#menu-btn {
    background-color: green;
}

#menu-btn:hover {
    background-color: rgb(0, 105, 0);
}

.btn {
    font-size: 30px;
    border-style: none;
    cursor: pointer;
}

hr {
    border: none;
    margin-top: -15px;
    height: 2px;
    color: black;
    background-color: black;
}

#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;

}

#specials,
#hours,
#location {
    border-style: solid;
    border-radius: 30px;
}

h1 * {
    font-size: 20px;
}

#menu {
    display: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#menu>img {
    height: 500px;
    width: 500px;
    border-radius: 30px;
}

#menu>h1 {
    border-radius: 10px;
    padding: 5px 165px;
    background-color: red;
}

#contact {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left,
            red, white, green);
}